//COLORS
$yellow: #FFFE4E;
$darkyellow: #FFE911;
$white: #FFFEFE;
$lightgrey: #abada9;
$grey: #727473;
$darkgrey: #383a3b;
$black: #131414;


.BtnTab {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  border: none;
  background-color: $darkgrey;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color:  $yellow;
}

.BtnTab a {
  text-decoration: none;
  color:  $yellow;
}