form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  margin: auto; 
  border: 1px solid white;
  background-color: lightblue;
}

form button {
  width: 100px;
  margin: 10px;
  padding: 10px;
  align-self: center;
  border-radius: 20px;
  border: none;
  background-color: white;
}

form input {
  margin: 10px;
}

.WorkBox {
  width: 100%;
  height: 100%;
}

.ListBox {
  width: 30%;
  height: 100%;
  background-color: #282c34;
  color: white;
}

/* .MessageList {} */


.MessageDetails {
  margin: auto;
}

.LoginForm {
  height: 40%;
  width: 80%;
  margin: auto;
}

.NewMessageForm {
  height: 40%;
  width: 80%;
  margin: auto;
}