//COLORS
$yellow: #FFFE4E;
$darkyellow: #FFE911;
$white: #FFFEFE;
$lightgrey: #d9dbd6;
$grey: #727473;
$darkgrey: #383a3b;
$black: #131414;


form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  margin: 15px auto; 
  border: 2px solid $yellow;
  border-radius: 4px;
  background-color: $darkgrey;
  color: $white;
  box-shadow: 2px 2px 4px $grey;
}

button {
  width: 100px;
  margin: 10px;
  padding: 10px;
  align-self: center;
  border-radius: 20px;
  border: none;
  background-color: $white;
  box-shadow: 2px 2px 4px $grey;
}

form input {
  margin: 10px;
  border-radius: 2px;
}

.WorkBox {
  width: 70%;
  height: 100%;
}

.ListBox {
  width: 30%;
  height: 100%;
  background-color: $darkgrey;
  color: $darkgrey;
  overflow: auto;

  h3 {
    color: $white;
  }
  ul {
    padding: 4px;
  }
}

/* .MessageList {} */
.List {
  width: 100%;
  /* display: flex;
  flex-direction: column;
   */
}

.ListItem {
  border: 2px solid $darkyellow;
  border-radius: 4px;
  margin: 4%;
  background-color: $lightgrey;
  list-style: none;
  align-self: center;
  transition: 0.2s;
}

.ListItem button {
  padding: 1px;
  width: 50px;
  background-color: $darkyellow;
  color: $darkgrey;
}


.MessageDetails {
  background-color: $lightgrey;
  width: 60%;
  padding: 10%;
  margin: 10% auto;
  border: 2px solid $yellow;
  border-radius: 4px;
  text-align: left;
}

.LoginForm {
  height: 40%;
  width: 80%;
  margin: auto;
}

.NewMessageForm {
  height: 40%;
  width: 80%;
  margin: auto;
}

.Selected {
  scale: 1.3;
  border: 4px solid $darkyellow;
  background-color: $white;
}