@import './components/Tab.scss';
@import './components/WorkSpace.scss';


//COLORS
$yellow: #FFFE4E;
$darkyellow: #FFE911;
$white: #FFFEFE;
$lightgrey: #d9dbd6;
$grey: #727473;
$darkgrey: #383a3b;
$black: #131414;


.App {
  text-align: center;
}

.App-header {
  background-color: $darkgrey;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: calc(10px + 2vmin);
  color: $white;
}

.App-link {
  color: $darkgrey;
}

/* CUSTOM COMPONENTS */

.Tabs {
  width: 100vw;
  height: 15vh;
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Workspace {
  display: flex;
  width: 100vw;
  height: 75vh;
  background-color: $lightgrey;
}
